<div class="data-card">
  <div class="card-header-custom d-flex justify-content-between align-items-center">
    <h3>Gestión de Ayuntamientos</h3>
    <button class="btn-primary-custom" type="button" (click)="abrirModal()">
      <i class="bi bi-plus-lg"></i> Nuevo Ayuntamiento
    </button>
  </div>

  <div class="card-body-custom">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar en la tabla..."
        style="max-width: 300px"
      />
    </div>
    <div class="table-responsive">
      <table class="table-custom">
        <thead>
          <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>MUNICIPIO</th>
            <th>EMAIL</th>
            <th>TELÉFONO</th>
            <th class="text-end">Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (ayu of ayuntamientosPaginados; track ayu.id) {
            <tr>
              <td>{{ ayu.id }}</td>
              <td>
                <span class="fw-medium">{{ ayu.nombre }}</span>
              </td>
              <td>{{ ayu.nombreCiudad }}</td>
              <td>{{ ayu.email }}</td>
              <td>{{ ayu.telefono }}</td>
              <td>
                <div class="d-flex gap-2 justify-content-end">
                  <button class="btn-action" title="Ver detalles" (click)="abrirModal_ver(ayu)">
                    <i class="bi bi-eye"></i>
                  </button>
                  <button class="btn-action">
                    <i class="bi bi-pencil" (click)="abrirModal_editar(ayu)"></i>
                  </button>
                  <button class="btn-action text-danger">
                    <i class="bi bi-trash" (click)="abrirModal_delete(ayu)"></i>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4">
      <span class="text-muted small"
        >Mostrando 1 a 10 de {{ ayuntamientoService.amount() }} registros</span
      >
      <nav>
        <ul class="pagination pagination-custom mb-0">
          <li class="page-item">
            <button
              class="page-link"
              [disabled]="paginaActual() === 1"
              (click)="cambiarPagina(paginaActual() - 1)"
            >
              Anterior
            </button>
          </li>
          @for (n of paginas(); track n) {
            <li class="page-item" [class.active]="paginaActual() === n">
              <button class="page-link" (click)="cambiarPagina(n)">{{ n }}</button>
            </li>
          }

          <li class="page-item">
            <button
              class="page-link"
              [disabled]="paginaActual() === totalPaginas()"
              (click)="cambiarPagina(paginaActual() + 1)"
            >
              Siguiente
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="modal fade" id="modalAyuntamiento" tabindex="-1" aria-hidden="true" #htmlModal>
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content modal-custom-border shadow-lg">
        <div class="modal-header header-custom-modal border-0 p-4">
          <h5 class="modal-title d-flex align-items-center">
            <i class="bi bi-person-plus-fill me-2 fs-4"></i>
            <span class="modal-title-text">Registraree Nuevo Ayuntamiento</span>
          </h5>
          <button
            type="button"
            class="btn-close btn-close-white shadow-none"
            (click)="cerrarModal()"
          ></button>
        </div>

        <div class="modal-body p-4 bg-light">
          <form id="formCliente" class="row g-3" [formGroup]="formAyto">
            <div class="col-md-6">
              <label class="form-label-custom">Nombre *</label>
              <input
                formControlName="nombre"
                type="text"
                class="form-control-custom"
                placeholder="Ej. Juan"
                required
              />
              @if (formAyto.get('nombre')?.touched) {
                @if (formAyto.get('nombre')?.hasError('required')) {
                  <span class="error-msg">El nombre es obligatorio</span>
                }
              }
            </div>
            <div class="col-md-6">
              <label class="form-label-custom">NIF *</label>
              <input
                formControlName="nif"
                type="text"
                class="form-control-custom"
                placeholder="Ej. 11111111X"
                required
              />
              @if (formAyto.get('nif')?.touched) {
                @if (formAyto.get('nif')?.hasError('required')) {
                  <span class="error-msg">El nif es obliatorio</span>
                }
                @if (formAyto.get('nif')?.hasError('nif')) {
                  @let errorNif = formAyto.get('nif')?.getError('nif').error;

                  @if (errorNif === 'Formato inválido') {
                    <span class="error-msg">NIF incorrecto (Ej. P1234567A)</span>
                  }

                  @if (errorNif === 'Tipo de organización inválido para ayuntamiento') {
                    <span class="error-msg">Letra Inicial Incorrecta (P, Q, S, W)</span>
                  }

                  @if (errorNif.includes('carácter de control')) {
                    <span class="error-msg">{{ errorNif }}</span>
                  }
                }
              }
            </div>
            <div class="col-md-6">
              <label class="form-label-custom">Email *</label>
              <input
                formControlName="email"
                type="text"
                class="form-control-custom"
                placeholder="Ej. email@gmail.com"
                required
              />
              @if (formAyto.get('email')?.touched) {
                @if (formAyto.get('email')?.hasError('required')) {
                  <span class="error-msg">El email es obligatorio</span>
                }

                @if (formAyto.get('email')?.hasError('email')) {
                  <span class="error-msg">Formato de email no válido</span>
                }
              }
            </div>

            <div class="col-md-6">
              <label class="form-label-custom">Teléfono *</label>
              <input
                formControlName="telefono"
                type="tel"
                class="form-control-custom"
                placeholder="600 000 000"
                required
              />
              @if (formAyto.get('telefono')?.touched) {
                @if (formAyto.get('telefono')?.hasError('required')) {
                  <span class="error-msg">El teléfono es obligatorio</span>
                }
                @if (formAyto.get('telefono')?.hasError('minlength')) {
                  <span class="error-msg">El Teléfono debe contener 9 dígitos</span>
                }
                @if (formAyto.get('telefono')?.hasError('maxlength')) {
                  <span class="error-msg">El Teléfono debe contener 9 dígitos</span>
                }

                @if (formAyto.get('telefono')?.hasError('telefono')) {
                  <span class="error-msg">Teléfono no válido (Debe empezar por 9, 7 o 6)</span>
                }
              }
            </div>

            <div class="col-12">
              <label class="form-label-custom">Dirección *</label>
              <input
                formControlName="direccion"
                type="text"
                class="form-control-custom"
                placeholder="C/ Mayor, 12, 2ºB"
                required
              />
              @if (formAyto.get('direccion')?.touched) {
                @if (formAyto.get('direccion')?.hasError('required')) {
                  <span class="error-msg">La direccion es obligatoria</span>
                }
              }
            </div>

            <!-- ignorar input provincia -->
            <div class="col-md-6">
              <label class="form-label-custom">Provincia *</label>
              <select
                class="form-select-custom"
                formControlName="provincia"
                #provSelect
                (change)="onProvinciaChange(provSelect.value)"
              >
                <option value="" disabled selected>Seleccione provincia</option>
                @for (p of provinciaService.provincias(); track p.id) {
                  <option [value]="p.id">{{ p.nombre }}</option>
                }
              </select>
              @if (formAyto.get('provincia')?.touched) {
                @if (formAyto.get('provincia')?.hasError('required')) {
                  <span class="error-msg">Debes seleccionar una Provincia</span>
                }
              }
            </div>

            <div class="col-md-6">
              <label class="form-label-custom">Localidad *</label>
              <select
                formControlName="ciudadId"
                class="form-select-custom"
                [disabled]="!provinciaSeleccionadaId()"
              >
                <option value="" disabled selected>
                  {{
                    provinciaSeleccionadaId() ? 'Seleccione localidad' : 'Primero elija provincia'
                  }}
                </option>

                @for (ciu of ciudadService.ciudades(); track ciu.id) {
                  <option [value]="ciu.id">{{ ciu.nombre }}</option>
                }
              </select>
              @if (formAyto.get('ciudadId')?.touched) {
                @if (formAyto.get('ciudadId')?.hasError('required')) {
                  <span class="error-msg">Debes seleccionar una Localidad</span>
                }
              }
            </div>
          </form>
        </div>

        <div class="modal-footer border-0 p-4 bg-light justify-content-end gap-2">
          <button type="button" class="btn-action px-4 py-2" (click)="cerrarModal()">
            Cancelar
          </button>
          <button
            type="button"
            class="btn-primary-custom px-4 py-2 m-0 shadow-sm"
            (click)="guardarAyuntamiento()"
          >
            <i class="bi bi-save"></i> Guardar Cliente
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalAyto_editar" tabindex="-1" aria-hidden="true" #modalEditar>
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content modal-custom-border shadow-lg">
        <div class="modal-header header-custom-modal border-0 p-4">
          <h5 class="modal-title d-flex align-items-center">
            <i class="bi bi-person-plus-fill me-2 fs-4"></i>
            <span class="modal-title-text">Editar Ayuntamiento</span>
          </h5>
          <button
            type="button"
            class="btn-close btn-close-white shadow-none"
            (click)="cerrarModal()"
          ></button>
        </div>

        <div class="modal-body p-4 bg-light">
          <form id="formAytoEditar" class="row g-3" [formGroup]="formEditarAyto">
            <div class="col-md-6">
              <label class="form-label-custom">Nombre *</label>
              <input
                type="text"
                formControlName="nombre"
                class="form-control-custom"
                placeholder="Ej. Juan"
                required
              />
              @if (formEditarAyto.get('nombre')?.touched) {
                @if (formEditarAyto.get('nombre')?.hasError('required')) {
                  <span class="error-msg">El nombre es obligatorio</span>
                }
              }
            </div>

            <div class="col-md-6">
              <label class="form-label-custom">Teléfono *</label>
              <input
                type="tel"
                formControlName="telefono"
                class="form-control-custom"
                placeholder="600 000 000"
                required
              />
              @if (formEditarAyto.get('telefono')?.touched) {
                @if (formEditarAyto.get('telefono')?.hasError('required')) {
                  <span class="error-msg">El teléfono es obligatorio</span>
                }
                @if (formEditarAyto.get('telefono')?.hasError('minlength')) {
                  <span class="error-msg">El Teléfono debe contener 9 dígitos</span>
                }
                @if (formEditarAyto.get('telefono')?.hasError('maxlength')) {
                  <span class="error-msg">El Teléfono debe contener 9 dígitos</span>
                }

                @if (formEditarAyto.get('telefono')?.hasError('telefono')) {
                  <span class="error-msg">Teléfono no válido (Debe empezar por 9, 7 o 6)</span>
                }
              }
            </div>

            <div class="col-12">
              <label class="form-label-custom">Dirección *</label>
              <input
                type="text"
                formControlName="direccion"
                class="form-control-custom"
                placeholder="C/ Mayor, 12, 2ºB"
                required
              />
              @if (formEditarAyto.get('direccion')?.touched) {
                @if (formEditarAyto.get('direccion')?.hasError('required')) {
                  <span class="error-msg">La direccion es obligatoria</span>
                }
              }
            </div>

            <div class="col-md-6">
              <label class="form-label-custom">Provincia *</label>
              <select
                class="form-select-custom"
                formControlName="provincia"
                #provSelectEdit
                (change)="onProvinciaChange(provSelectEdit.value)"
              >
                <option value="" disabled>Seleccione provincia</option>
                @for (p of provinciaService.provincias(); track p.id) {
                  <option [value]="p.nombre">{{ p.nombre }}</option>
                }
                @if (formEditarAyto.get('provincia')?.touched) {
                  @if (formEditarAyto.get('provincia')?.hasError('required')) {
                    <span class="error-msg">Debes seleccionar una Provincia</span>
                  }
                }
              </select>
            </div>

            <div class="col-md-6">
              <label class="form-label-custom">Localidad *</label>
              <select
                class="form-select-custom"
                formControlName="localidad"
                [disabled]="!provinciaSeleccionadaId()"
              >
                <option value="" disabled>
                  {{
                    provinciaSeleccionadaId() ? 'Seleccione localidad' : 'Primero elija provincia'
                  }}
                </option>
                @for (ciu of ciudadService.ciudades(); track ciu.id) {
                  <option [value]="ciu.nombre">{{ ciu.nombre }}</option>
                }
                @if (formEditarAyto.get('ciudadId')?.touched) {
                  @if (formEditarAyto.get('ciudadId')?.hasError('required')) {
                    <span class="error-msg">Debes seleccionar una Localidad</span>
                  }
                }
              </select>
            </div>
          </form>
        </div>

        <div class="modal-footer border-0 p-4 bg-light justify-content-end gap-2">
          <button type="button" class="btn-action px-4 py-2" (click)="cerrarModal()">
            Cancelar
          </button>
          <button
            type="button"
            class="btn-primary-custom px-4 py-2 m-0 shadow-sm"
            (click)="actuAyuntamiento(id)"
          >
            <i class="bi bi-save"></i> Guardar Cambios
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalCliente_ver" tabindex="-1" aria-hidden="true" #modalVer>
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content modal-custom-border shadow-lg">
        <div class="modal-header header-custom-modal border-0 p-4">
          <h5 class="modal-title d-flex align-items-center">
            <i class="bi bi-person-plus-fill me-2 fs-4"></i>
            <span class="modal-title-text">Información Completa</span>
          </h5>
          <button
            type="button"
            class="btn-close btn-close-white shadow-none"
            (click)="cerrarModal()"
          ></button>
        </div>

        <div class="modal-body p-4 bg-light">
          <form id="formClienteVer" class="row g-3">
            <div class="col-md-6">
              <label class="form-label-custom">Nombre</label>
              <input
                readonly
                type="text"
                [(ngModel)]="ayuntamientoEditar.nombre"
                name="nombre"
                class="form-control-custom"
                placeholder="Ej. Juan"
              />
            </div>
            <div class="col-md-6">
              <label class="form-label-custom">Teléfono</label>
              <input
                readonly
                type="tel"
                [(ngModel)]="ayuntamientoEditar.telefono"
                name="telefono"
                class="form-control-custom"
                placeholder="600 000 000"
              />
            </div>

            <div class="col-12">
              <label class="form-label-custom">Dirección</label>
              <input
                readonly
                type="text"
                [(ngModel)]="ayuntamientoEditar.direccion"
                name="direccion"
                class="form-control-custom"
                placeholder="C/ Mayor, 12, 2ºB"
              />
            </div>

            <div class="col-12">
              <label class="form-label-custom">Ciudad</label>
              <input
                readonly
                type="text"
                [(ngModel)]="ayuntamientoEditar.localidad"
                name="localidad"
                class="form-control-custom"
                placeholder="C/ Mayor, 12, 2ºB"
              />
            </div>

            <div class="col-12">
              <label class="form-label-custom">Provincia</label>
              <input
                readonly
                type="text"
                [(ngModel)]="ayuntamientoEditar.provincia"
                name="provincia"
                class="form-control-custom"
                placeholder="C/ Mayor, 12, 2ºB"
              />
            </div>
          </form>
        </div>

        <div class="modal-footer border-0 p-4 bg-light justify-content-end gap-2">
          <button type="button" class="btn-action px-4 py-2" (click)="cerrarModal()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalCliente_delete" tabindex="-1" aria-hidden="true" #modalDelete>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-custom-border shadow-lg">
        <div class="modal-header border-0 p-4 bg-danger text-white">
          <h5 class="modal-title d-flex align-items-center">
            <i class="bi bi-exclamation-triangle-fill me-2 fs-4"></i>
            <span class="modal-title-text">Confirmar Acción</span>
          </h5>
          <button
            type="button"
            class="btn-close btn-close-white shadow-none"
            (click)="cerrarModal()"
          ></button>
        </div>

        <div class="modal-body p-4 text-center">
          <p class="fs-5 mb-0">¿Estás seguro de que deseas eliminar este cliente?</p>
          <p class="text-muted small">Esta acción no se puede deshacer.</p>
        </div>

        <div class="modal-footer border-0 p-4 bg-light justify-content-center gap-3">
          <button type="button" class="btn-action px-4 py-2" (click)="cerrarModal()">
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-danger px-4 py-2 shadow-sm rounded-3"
            (click)="delete(id)"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
