<nav class="navbar navbar-expand-lg sticky-top shadow-sm m-0 p-0 header-bg-beige">
  <div class="container-xxl py-3">
    <a class="navbar-brand logo-brand" routerLink="/">KELPIE LIOS</a>

    <div class="collapse navbar-collapse" id="navK">
      <ul class="navbar-nav mx-auto gap-lg-4 text-uppercase">
        <li class="nav-item">
          <a class="nav-link link-navy" routerLink="/" fragment="como-funciona">Cómo funciona</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-navy" routerLink="/" fragment="perfiles">Perfiles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-navy" routerLink="/" fragment="estadisticas">Red nacional</a>
        </li>
      </ul>
      <div class="d-flex gap-3 align-items-center">
        <a routerLink="/login" class="login-text">Acceso</a>
        <button class="btn btn-kelpie px-4 py-2" routerLink="/pago">COMPRAR</button>
      </div>
    </div>
  </div>
</nav>
